# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Administrator\Desktop\project\gulimall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

**/mvnw
**/mvnw.cmd
**/.mvn

**/target/
.idea

**/HELP.md